<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CaseStudySqlEntities" connectionString="metadata=res://*/CaseStudyModel.csdl|res://*/CaseStudyModel.ssdl|res://*/CaseStudyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IN5CG8283MVB\SQLEXPRESS;initial catalog=CaseStudySql;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>