<form novalidate [formGroup]="fg" class="form-inline">
  <div class="form-group col-md-12">
    <input type="text" name="Category_Name" id="Category_Name" formControlName="Category_Name" class="form-control"
           [ngClass]="{'is-valid':f.Category_Name.Valid,'is-invalid':f.Category_Name.invalid && f.Category_Name.dirty}" />
    <div *ngIf="f.Category_Name.invalid && f.Category_Name.dirty && f.Category_Name.errors?.required" class="invalid-feedback">
      Category name should be given
    </div>
    <br />
    <button type="submit" class="btn btn-success btn-lg" (click)="Enable()" [hidden]="click">Edit</button>
    <button type="submit" class="btn btn-primary btn-lg" (click)="Disable()" [hidden]="click">Update</button>
    <button type="submit" class="btn btn-danger">Delete</button>

    <div *ngIf="f.Category_Name.invalid && f.Category_Name.dirty && f.Category_Name.errors?.minlength" class="invalid-feedback">
      Min three characters
    </div>
  </div>
</form>
